body {
  margin: 0;
  font-family: "Courier New", Courier, monospace;
  background-color: rgb(133, 222, 212);
}

.app {
  max-width: 500px;
  margin: 40px auto;
  background: rgb(164, 205, 252);
  padding: 20px;
  border-radius: 4px;
  border: 1px solid black;
}

h1 {
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 700;
}

button {
  margin-left: auto;
  cursor: pointer;
  background-color: beige;
  border: 1px solid black;
  font-size: 14px;
  font-weight: 600;
}

input[type="checkbox"] {
  transform: scale(1.4);
}
